
.well {
  background-image: url("img/paw.jpg");
}
#pic1 {
  display: none;
}
#pic2 {
  display: none;
}
#pic3 {
  display: none;
}
#pic4 {
  display: none;
}
#pic5 {
  display: none;
}
#pic6 {
  display: none;
}
#pic7 {
  display: none;
}
#pic8 {
  display: none;
}
